<div class="header_container">
  <mat-drawer-container class="sidenav_button_container">
    <button
      type="button"
      (click)="toggleSidebar($event)"
      class="sidebar_button"
      matTooltip="Menu"
      [matTooltipPosition]="'right'"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="sidebar button"
        fontIcon="reorder"
      ></mat-icon>
    </button>
  </mat-drawer-container>
  <img
    class="logo"
    src="assets/logos/logo.svg"
    alt="logo crafted web"
    (click)="redirectToIndex()"
  />
</div>
