@import '../../../variables.scss';

.header_container{
    height: 12vh;
    background-color:red;
}

.pushed {
    margin-left: 20vw; 
    transition: margin-left 0.2s ease-out;
  }

  .returning {
    margin-left: 0;
    transition: margin-left 0.3s;
  }