@import '../../../variables.scss';

.loading_container{
  height: 80vh;
}

.title_container{
  margin-left: 21vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.realisations_title{
  margin: 0;
}

.cards_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20%;
}

.card_container{
  border-radius: 0;
  border-left: 4px solid $header-background;
  padding-left: 2vw;
  padding-bottom: 2vh;
}

.card_container:nth-child(even) {
  background-color: transparent;
}

.card_container:nth-child(odd) {
  background-color: $sidebar-background;
}

.mat-mdc-card{
  box-shadow: none;
}

.project_title::before{
  content: '';
       display: inline-block;
       width: 15px;
       height: 15px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: $header-background;
       position: absolute;
       top: 3.2vh;
       left: -1.18vh;
}

.project_subtitle{
  margin-left: 3vw;
  margin-top: 1vh;
}

  .project_technos{
    font-weight: bold;
    margin-left: 3vw;
    &>p{
      margin-top: 1vh;
    }
  }

  .project_description{
    margin-left: 3vw;
    line-height: 3.5vh;
    width: 80%;
  }
  
  .links_container{
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3vh;
    margin-left: 3.5vw;
  }

  .links{
    text-decoration: none;
  }

  @media screen and (max-width: 999px){
    .cards_container{
      width: 95%;
      margin-left: 5%;
  }
  }
  
  .glitch{
  line-height: 0;
  animation: glitch1 2.5s infinite;
  }

  .glitch:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }

  .glitch:nth-child(3) {
    color: red;
    animation: glitch3 2.5s infinite;
  }

  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }