<div class="cards_container" @slideFromRight>
  <mat-card class="card_container" *ngFor="let project of projectsDatas">
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle class="project_subtitle">{{
        project.title
      }}</mat-card-subtitle>
    </mat-card-header>
    <img
      class="project_pic"
      mat-card-image
      src="assets/logos_projects/{{ project.image }}.png"
      alt="logo du projet {{ project.name }}"
    />
    <mat-card-content class="project_technos">
      <p>
        {{ project.technos }}
      </p>
    </mat-card-content>
    <mat-card-content class="project_description">
      <p>
        {{ project.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="links_container">
      <a class="links" mat-raised-button href="{{ project.link }}">Site</a>
      <a class="links" mat-raised-button href="{{ project.repo_link }}">Repo</a>
    </mat-card-actions>
  </mat-card>
</div>
