<mat-drawer #drawer class="sidenav" mode="side" [opened]="isOpen$ | async">
  <div class="sidebar_container">
    <div class="sidebar_links_container">
      <ng-container *ngFor="let link of linkName">
        <div
          class="sidebar_link_container"
          (click)="onLinkClick(link)"
          (mouseover)="onMouseOver(link)"
          (mouseleave)="onMouseLeave()"
          [@linkContainerHover]="
            hoveredLinkContainer === link.link ? 'active' : 'inactive'
          "
        >
          <p class="sidebar_links">{{ link.value }}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <img
    alt="logo animé"
    src="assets/logos/animated_logo.svg"
    class="animated_logo"
  />
</mat-drawer>
