<mat-drawer #drawer class="sidenav" mode="side" [opened]="isOpen$ | async">
  <div class="sidebar_container">
    <div class="pic_container">
      <img class="pic_profile" src="../../../assets/pics/pic_profile.png" />
    </div>
    <div class="sidebar_links_container">
      <ng-container *ngFor="let link of linkName">
        <div
          class="link-container"
          (mouseover)="onMouseOver(link)"
          (mouseleave)="onMouseLeave()"
          [@linkContainerHover]="
            hoveredLinkContainer === link.link ? 'active' : 'inactive'
          "
        >
          <a
            class="sidebar_links"
            routerLink="{{ link.link }}"
            [@linkHover]="hoveredLink === link.link ? 'active' : 'inactive'"
          >
            {{ link.value }}
          </a>
        </div>
      </ng-container>
    </div>

    <p>Lorem ipsum</p>
  </div>

  <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
</mat-drawer>
