@import '../../../variables.scss';

.sidenav {
    width: 20vw;
    background-color: $dark-color;
  }

  .pic_container{
    width: 15vh;
    height: 15vh;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5vh;
  }

  .pic_profile{
    max-width: 100%;
  }

  .sidebar_links_container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .sidebar_links{
    width: 180%;
    color: white;
    text-decoration: none;
    padding: 3%;
    font-size: 1.2vw;
  }