@import '../../../variables.scss';

.sidenav {
    min-width: 20vw;
    max-width: 80vw;
    background-color: $sidebar-background;
    border: none;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 2px 5px 9px rgba(94,104,121,0.3);
    position: fixed;
  }

  .sidebar_container{
    overflow-x: hidden;
  }

  .sidebar_links_container{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .sidebar_link_container{
    padding: 4%;
    margin: 0;
    cursor: pointer;

    &:hover>.sidebar_links {
      margin-left: 20px;
    }
  }

  .sidebar_links{
    width: 100%;
    color: black;
    text-decoration: none;
    margin: 0;
    transition: margin-left 0.25s ease-out;
    word-wrap: break-word;
  }

  .animated_logo{
    position: absolute;
    bottom: 0vh;
  }

  @media screen and (max-width: 999px){
    .animated_logo{
      bottom: 10vh;
    }
  }
  