@import '../../../variables.scss';

.poke_container{
    width: 100%;
}

.loading{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.loading_container{
  height: 40vh;
}

.pokeball_loading{
  animation: spin 2s infinite linear;
}

.types {
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60%;
    justify-content: flex-start;
}

.type{
    margin: 2.5% 5% 2.5% 5%;
    padding: 10px;
    border-radius: 20%;
    width: 64px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 200ms;
    &.grayscale {
        filter: grayscale(70%);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        scale: 1.2;
      }
}

.cursor_type{
  cursor: pointer;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}

.generations{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 10vw;
    margin: 0 auto;
    padding: 2vh;
}

.generation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1vh;
    padding: 1vh;
    cursor: pointer;
    transition: all 0.3s ;
    user-select: none;
  &.generation-clicked {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgb(220, 220, 220);
    scale: 1.1;
  }
}

.pokeball_icon {
    width: 32px;
    transition: transform 0.5s ease;
  }

  .generation:hover > .pokeball_icon{
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .contents_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5%;
  }

  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
  }

  .pokemon_card{
    margin: 0% 3% 2% 3%;
    width: 15%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .pokemon_name{
    margin: 0 auto;
  }

  .pokemon_id{
    width: 100%;
    margin-left: 10%;
    margin-bottom: 0;
  }

.pokemon_pic{
    width: 70%;
}

.none_poke_text{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.pokemon_modal{
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.poke_name{
  font-weight: bolder;
  margin: 2% 0% 1% 6%;
  font-size: 46px;
}

.pokemodal_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.poke_pics{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.pokemodal_pic{
  width: 10vw;
}

.poke_types{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-right: 3vw;
}

.poke_contents{
  flex: 1;
}

.poke_stats_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;justify-content: space-between;
  padding: 2vh 2vw;
  margin: 1vh 2vw;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: rgb(255, 253, 233);
}

.pokemodal_card_stats{
  width: 20%;
  margin: 0 2vw 3vh 2vw;
}

.stat{
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}

.stat_name{
  text-align: center;
  font-size: 16px;
}

.typemodal{
  width: 2vw;
}