@import './variables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif;
}

app-root{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0%;
    display: flex;
    flex-direction: column;
    background-color: $body-background;
}