// $body-background: #D2E9E9;

// $header-background: #C4DFDF;

// $sidebar-background: #E3F4F4;

// $sidebar-secondary-color: #D2E9E9;

// $footer-background: #F8F6F4;

$app-max-width: 425px;

$body-background: white;

$header-background: #EFB495;

$sidebar-background: #F1F0E8;

$sidebar-secondary-color: #EEE0C9;

$footer-background: #8BA503;